<!DOCTYPE html>
<html lang="en">

        {{> head }}

        {{> navbar }}

        <div class="row">
            <div class="col-8">
                <h1>Valley</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laudantium quod nihil dolorum, dolores magni aperiam quasi tenetur cupiditate assumenda aliquid explicabo sit harum doloremque commodi, id pariatur voluptas soluta facilis.</p>
            </div>

            <div class="col-4">
                <img src="assets/img/plateau.jpg" alt="" class="img-thumbnail">
            </div>
        </div>
        {{> footer }}
    </body>

</html>